*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI'; 
    /* color: #444; */
}

/* загрузка */
#loader {
  position: absolute;
  top: 50%;
  margin: auto;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid #FF7A59;
  width: 50px;
  height: 50px;
  animation: spinner 2s ease-in-out infinite;
  transition: opacity 0.5s ease-in-out;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
    background-color: rgb(255, 248, 248);
}

header{
    background-color: rgb(255, 248, 248);
    position: sticky;
    /* border-bottom: 3px solid black; */
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 4;

}

/* Основной контейнер */
main{
    background-color: rgb(245, 245, 220);
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    border-top: 3px solid black;
    min-height: calc(85vh - 15px);
}
#forTable{
    margin: 20px 0;
    min-height: 78vh;
    width: 80vw;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    justify-content: center;
}

/* Все для карточки рецепта */
.card{
    background-color: white;
    height: calc(100% - 40px);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* overflow-x: hidden; */
    overflow-y: auto !important;
}
.OuterCard{
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 7px 7px 5px lightgrey;
    transition: all 0.5s;
    min-height: 40vh;
    max-height: 60vh;
    background-color: white;
    /* transform: all 0.5s; */
        background: 10vw;

}
.OuterCard:hover:not(.cardClicked){
    box-shadow: 7px 7px 10px rgb(170, 170, 170);
    transform: scale(1.05);
    transition: all 0.5s;
    z-index: 1;

}

/* заголовок */
h3{
    font-size: 22px;
    margin-bottom: 10px;
}
   
img{
    max-width: 90%;
    max-height: 40%;
    /* overflow-y: auto; */
    align-content: center;
    min-height: 200px;
}

label{
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}

.cardClicked label{
    margin-top: 0;
}

/* весь заголовки списков */
.card p {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    align-self: flex-start;
    font-weight: 400;
    height: 30px;
    width: auto;
    align-items: center;
}

/* списки */
.card ul, .card ol{
    margin-top: 5px;
    margin-left: 40px;
    align-self: flex-start;
    font-weight: 400;
}

/* Когда нажали на карточку */

#GrayScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.0;
}

.unhidden{
    opacity: 0.7 !important;
    z-index: 6 !important ;
    transition: 
        opacity 1s,
}
.OuterCard.cardClicked{
    font-size: 20px;
    width: 80vw;
    height: 90vh;
    /* overflow: visible; */
    background-color: white;
    z-index: 7;
    transform: translate(var(--val), var(--val2));
    transition: 
        z-index 0s ease-in-out,
        width  0.8s cubic-bezier(0.4, 0, 0.2, 1),
        height  0.8s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.7s ease-in-out;

}

.cardClicked.part2{
    position: fixed;
    /* top: calc(var(--top)); */
    top: calc(var(--top) - var(--val2));
    left: calc(var(--left) - var(--val));
    max-height: 100%;
    transition: 
        max-height 2s cubic-bezier(0.4, 0, 0.2, 1);
        /* transform 0.7s ease-in-out; */

}

.cardClicked .card{
    /* height: calc(100% - 20px); */
    max-height: calc(var(--height) * 2 - 60px);

}

.hiddenButton{
    /* display: none; */
    visibility: hidden;
    background-color: transparent;
    border: 2px solid transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.cardClicked .hiddenButton{
    /* display: inline; */
    /* display: block; */
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.bottomButton{
    position: absolute;
    bottom: 40px;
    font-size: 16px;
}

.iconAdd{
    fill: rgb(54, 188, 87);
    position: relative;
    top: 4px;
}

.card input{
    margin-left: 10px;
    position: relative;
    top: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.5s ease-in-out,
        visibility 0.5s ease-in-out;
    height: 20px;
    width: 10px;
    padding: 2px;
    padding-left: 5px;
}

.cardClicked input{
    width: 40vw !important;
    transition: width 2s linear;
}

input.add{
    visibility: visible;
    opacity: 1;

}
