#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.forButtons{
  height: 60vh;
  width: 20vw;
  min-width: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px  solid black;
  border-radius: 10px;
  background-color: rgb(220, 248, 204);
  margin: 0 auto;

}

.forNumButtons{

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items:center;
  flex-wrap: wrap;
  
  grid-row:  3/7;
  grid-column:  1/4;

}

button{
  width: calc(5vw - 10px);
  height: calc(10vh - 10px);
  min-width: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin: 5px;
  cursor: pointer;
  background-color: #a8a8aa;
}

.forNumButtons button {
  background-color: white;
}

.calutateButton {
  background-color: #929ff3;
}

.argumentParagraph, .expression {
  width: calc(20vw + 2px);
  margin: 0 auto 10px auto;
  text-align: end;
  min-width: 200px;
  white-space: nowrap;
}

.argumentParagraph{
  height: 45px;
  font-size: 40px;
}

.expression{
  padding-right: 30px;
  margin-bottom: 0;
  height: 25px;
  font-size: 15px;
  color: #797a81;
}


