body {
  padding: 40px;
  width: 200px;
  margin: auto;
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.output {
  padding: 10px;
  height: 30px;
  border: 1px solid #000000;
}
