.flag-container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #04543f;
    margin: 20px;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #dc1111;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}