.Text {
  max-height: 100px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Arial, serif;
  border: 5px solid #ccc;
}

.Text::after {
  content: "...";
}

.Text-ellipsis {
  max-width: 90px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}