.Text {
  max-height: 100px;
  max-width: 80px;
  overflow: hidden;
  font-size: 16px;
  font-family: Arial, serif;
  position: relative;
  line-height: 1.5;
}

.Text::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
}

.Text-ellipsis {
  max-width: 90px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}