header{
  background: radial-gradient(circle,rgba(255, 204, 145, 1) 60%, rgba(255, 161, 54, 1) 83%, rgba(255, 161, 54, 1) 100%);
  background: radial-gradient(circle,rgba(171, 175, 255, 1) 60%, rgba(100, 108, 255, 1) 83%, rgba(100, 108, 255, 1) 100%);
  padding: 15px;
  box-shadow: 0 0 20px 0 #ad6f28;
  box-shadow: 0 0 20px 0 #14147c;
  text-align: center;
  color:#fff;
}
header h1{
  text-shadow: 1px 1px 6px #000000;
}


main{
  margin: 2rem 5rem;
}
main>h3{
  margin: 5px 0;
}


.buttonsContainer{
  margin-bottom: 20px;
}
.sortButton {
  cursor: pointer;
  margin: 5px 10px;
  border: 1px solid rgb(166, 166, 166);
  transition: all 0.3s;
  padding: 0.6rem 1.3rem;
  box-sizing: border-box;
}
.sortButton.active {
  background: #646cff;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(97, 97, 97);
  color: #fff;
}


.bookCard{
  margin: 15px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(97, 97, 97);
  border: 1px solid rgb(166, 166, 166);
  min-height: 330px;
  box-sizing: border-box;
  display: flex;
}
.bookInfo{
  padding: 0 25px 0 5px;
}
.bookCard h3, p{
  text-align: justify;
}
.bookCard img{
  margin: auto 15px;
  border-radius: 10px;
  float: left;
}
