body {
    position: relative;
}

div {
    height: 180px;
    width: 320px;
}

.green-rect {
    position: relative;    
    background-color: green;
    top: 100px;
    left: calc(50% - 160px);
    z-index: 2;
}

.red-rect {
    position: absolute;
    left: calc(50% - 190px);
    top: 130px; /* Base height is 108 */
    background-color: red;
    z-index: 1;
}

.blue-rect {
    position: absolute;
    background-color: blue;
    left: calc(50% - 130px);
    top: 70px;
    z-index: 3;
}