.main{
    display: flex; /*Список по центру*/
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    /* font-size: 10px; /*Красивый шрифт*/
    font-family:'Segoe UI'; 
    background-color: rgb(252, 241, 241);

}

/* заголовок */
h1{
    font-size: 25px; 
    margin-top: 10vh;
}

/* поле с вводом */
.outerDiv{
    margin-top: 30px;
    display: flex;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.labelText{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

textarea{
    width: 30vw;
    height: 10vh;
    display: flex;
}


/* сообщение об ошибке */
#forError{
    opacity: 0;
    transition: opacity 1s;
    margin-top: 20px;
    height: 20px;
    color: rgb(205, 15, 15);
}

/* сообщение совершенно ли число */
#forMessage{

    height: 12vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 5px solid transparent;
    font-size: 25px;
    border-radius: 30px;
}

#forStyle{
    border: 5px solid transparent;
    border-radius: 30px;

}

.displayDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 55vw;
    opacity: 0;
    transition: opacity 0.2s;
}

.elementsDiv{
    width: 25vw;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

.displayElementsLabel{
    text-align: center;
}
#labelMessage{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

/* два стиля для чисел */
.emptyDiv{
    border: 5px solid rgb(213, 32, 32) !important ;
    background-color: rgb(242, 112, 112);
}

.NotEmptyDiv{
    border: 5px solid rgb(32, 213, 53) !important ;
    background-color: rgb(112, 242, 166);
}

/* Кнопка */
#check{
    margin-top: 7vh;
    margin-bottom: 20px;
    border: 2px solid  rgb(252, 241, 241);
    border-radius: 10px;
    background-color: rgb(190, 187, 187);
    height: 40px;
    width: 200px;

}

#start{
    border: 2px solid  rgb(252, 241, 241);
    border-radius: 10px;
    background-color: rgb(190, 187, 187);
    width: 200px;
    margin-top: 20px;
    height: 30px;
}

#check:hover, #start:hover{
    border: 2px solid rgb(190, 187, 187);
    transition: border 0.2s;
}

