.item-price {
    font-style: italic;
}

.item-name {
    font-weight: bold;
}

.category-name {
    font-weight: bold;
}


.categories {
    font-family: Arial, serif;
}

.item {
    margin-bottom: 7px;
}

ul {
    list-style-type: disc;
}