body {
  font-family: "Rubik";
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #0B63F6;
}

.header-title {
  color: #fff;
  font: 500 30pt "Rubik";
  letter-spacing: 1px;
  margin: 0;
}

.buttons-container {
  padding: 10px 15px;
}
.buttons-container span {
  font: 400 15pt "Rubik";
  color: #000;
  letter-spacing: 1px;
  margin-left: 5px;
}

.books-container {
  transition: opacity .3s ease;
  overflow-x: auto;
}
.books-container.hidden {
  opacity: 0;
}

.sort-buttons {
  width: 500px;
  display: flex;
  gap: 20px;
  margin: 10px;
}
.sort-buttons button {
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 10px;
  background: #0B63F6;
  color: #fff;
  font: 400 15pt "Rubik";
  transition: .2s linear;
  cursor: pointer;
}
.sort-buttons button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3C82F8;
}

.books-scroll-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}
.scroll-button {
  width: 40px;
  height: 100px;
  border-radius: 10px;
  background: #0B63F6;
  color: #fff;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s ease;
}
.scroll-button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3C82F8;
}

.books-list {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  overflow-x: hidden;
  background: #fff;
  border-radius: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
}
.book-card:hover .book-title {
  color: #3C82F8;
}

.book-image {
  height: 400px;
  padding: 0 20px 20px;
  text-align: center;
}
.book-image img {
  max-height: 400px;
}
.book-title {
  font-size: 20pt;
  color: #000;
}
.book-author {
  font-size: 15pt;
  color: #808080;
}
.book-price {
  font: 500 20pt "Rubik";
  color: #ff0080;
}

.rating-result span {
  font-size: 20pt;
}
.rating-result span.active {
  color: #ffdb0d;
}
.rating-result span.disable {
  color: #383838;
}
