body {
  font-family: "Rubik";
  font-weight: light;
}

header {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  background-color: #0B63F6;
}

.buttons-container {
  padding: 10px 15px;
}

.books-container {
  transition: opacity 0.3s ease;
}

.books-container.hidden {
  opacity: 0;
}

.buttons-container span {
  font-size: 15pt;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 5px;
}

.header-title {
  color: #fff;
  font-size: 30pt;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 0;
}

.books-controls {
  width: 500px;
  display: flex;
  gap: 20px;
  margin: 10px 10px;
}

.books-controls button {
  border-radius: 10px;
  font-size: 15pt;
  flex-grow: 1;
  height: 40px;
  width: 200px;
  border: 0;
  color: #fff;
  font-family: "Rubik";
  font-weight: 400;
  transition: .2s linear;
  background-color: #0B63F6;
}

.books-controls button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.books-list {
  background-color: white;
  display: flex;
  overflow-x: scroll;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  border-radius: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
}

.book-card:hover .book-title {
  color: #3C82F8;
}

.book-image {
  text-align: center;
}

.book-card p {
  margin: 0px;
}

.book-card img {
  max-height: 400px;
}

.book-image {
  height: 400px;
  padding: 0px 20px 20px 20px;
}

.book-price {
  color: rgb(255, 0, 128);
  font-weight: 500;
  font-size: 20pt;
}

.book-title {
  font-size: 20pt;
  color: black;
}

.book-author {
  font-size: 15pt;
  color: grey;
}

.rating-result span{
  font-size: 20pt;
}

.rating-result span.active {
  color: rgb(255, 219, 13);
}

.rating-result span.disable {
  color: rgb(56, 56, 56);
}