body {
    font-family: Arial, sans-serif;
    background-color: #ececff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(2, 30, 109, 1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #080e57;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.bases {
    display: flex;
    gap: 10px;
}

.base-group {
    flex: 1;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 10px;
}

#result {
    background-color: #e2f1ff;
    cursor: not-allowed;
}
